*.user
*.suo
*.VC.db*
*.shader_inc
*.vspscc
*.opensdf
*.sdf
*.ipch
*.cache
*.tlog
*.lastbuildstate
*.ilk
*.log
*.pdb
* - Copy*.*
Build_VS*
Build
.vs

!**/Packages/**/build
!**/Packages/**/*.pdb
!VolumetricRenderer.vcxproj.user